      <!-- start navbar  -->
      <div class="navbar bg-light">
        <div class="navbar-left">
          <div class="logoContainer">
            <img src="/assets/logo.png" alt="weperch_logo">
            <div class="logo_text">Weperch</div>
            
            <a href="/explore">Explore</a>
          </div>
          
        </div>
  
        <div class="navbar-right">
          <div class="buttonsContainer">
            
            <a href="https://weperch.web.app">Company</a>
            <a href="#">Become a Seller</a>
            <button class="btn bg-dark getModal">Login</button>
            <button class="btn bg-dark getModal">Sign up</button>
          </div>
        </div>
        
      </div>
      
      <!-- navbarEnd  -->