
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">

    <div id="formContainer" class="formContainer border-25">
        <div class="formHeader">
            
            <div class="imageContainer formImage" >
                <img src="/assets/logo.png" alt="weperch_logo">
            </div>
        
        <h4 class="headingTextTop">Welcome to Weperch Marketplace. 
        
        </h4>
            <h6 class="headingTextBottom">Go Live. Shop Live. Do More.</h6>
            
        </div>
        <form action="#" enctype="multipart/form-data">
            <div class="formControlContainer">
                <label for="Fullname">Username</label>
                <input type="text" id="username" name="username" class="formControl" placeholder="Username" required>
            </div>
    
            <div class="formControlContainer">
                <label for="Fullname">Email</label>
                <input type="email" name="email" class="formControl" placeholder="Email" required>
            </div>
    
            <div class="formControlContainer">
                <label for="Fullname">Firstname</label>
                <input type="text" name="firstname" class="formControl" placeholder="Firstname" required>
            </div>
    
            <div class="formControlContainer">
                <label for="Fullname">Lastname</label>
                <input type="text" name="lastname" class="formControl" placeholder="Lastname" required>
            </div>
    
            <div class="formControlContainer">
                <label for="Fullname">Password</label>
                <input type="password" name="password" class="formControl" placeholder="Password" required>
            </div>
    
            <div class="formControlContainer buttonsContainer">
                <div class="submitButton">
                    <button>Signup</button>
                </div>
            </div>
    
            <div class="formControlContainer">
                <label for="login">Already have an account? 
                    <span class="span loginText" id="loginText">Login</span>
                </label>
            </div>
        </form>
        <div class="formFooter">
            <a href="#">Create an account for your brand.</a>
        </div>
        
    </div>

