<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Retna | Discover Africa Through Retna</title>
    <link rel="search" type="application/opensearchdescription+xml" title="Retna" href="opensearch.xml">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="apple-touch-icon" type="image/svg+xml" href="icon.svg">
    <script type="application/ld+json"
        data-hid="b2003d6">{"@context":"https://schema.org","@type":"WebSite","url":"https://retna.io/","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://retna.io/assets?search={search_term_string}"},"query-input":"required name=search_term_string"}]}</script>
    <style> </style>
    <link rel="manifest" href="manifest.webmanifest">
    <meta property="og:url" content="retna.io">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Weperch | Go Live Shop Live Do More">
    <meta name="description"
        content="Weperch is an online community martketplace.">
    <meta property="og:description"
        content="Weperch is an online community martketplace.">
    <meta property="og:image"
        content="https://mdn.retna.io/photos/photo--01hw5qfwwb06kpdca8f59jnkar.jpe?f=webp&q=65&w=1150">
    <meta name="twitter:title" content="Weperch | Go Live Shop Live Do More">
    <meta name="twitter:description"
        content="Weperch is an online community martketplace.">
    <meta name="twitter:image"
        content="https://mdn.retna.io/photos/photo--01hw5qfwwb06kpdca8f59jnkar.jpe?f=webp&q=65&w=1150">
    <meta name="twitter:card" content="summary_large_image">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css'>
    <!-- <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/landing.css"> -->
    <link rel="stylesheet" href="/css/slider.css">
</head>
<body class="body">
    <!-- <div id="__nuxt">
        <div data-v-fb2df77c>
            <div class="nuxt-loading-indicator home-page"
                data-v-fb2df77c></div>
            <div data-v-4ee3c4ca>
                <div class="c-nav" data-v-d86b29bc>
                    <div class="c-container" data-v-d86b29bc>
                        <div class="c-nav_inner" data-v-d86b29bc>
                            <div class="c-nav_body" data-v-d86b29bc>
                                <div class="c-nav_left" data-v-d86b29bc><a aria-current="page" href="index.html"
                                        class="router-link-active router-link-exact-active c-logo w-inline-block w--current"
                                        data-v-d86b29bc><img alt="retna-logo" class="c-img cc-logo" loading="lazy"
                                            src="https://assets-global.website-files.com/654e05e3b3abe20f5837e09d/654e05e3b3abe20f5837e105_logo-shape.svg"
                                            data-v-d86b29bc><span class="uc-mobilehide" data-v-d86b29bc> Retna
                                        </span></a>
                                    <div class="c-nav_links" data-v-d86b29bc><span data-v-d86b29bc></span><span
                                            data-v-d86b29bc></span><span data-v-d86b29bc></span><span
                                            data-v-d86b29bc></span></div>
                                </div>
                                <div class="c-nav_right" data-v-d86b29bc>
                                    <div class="c-search_form uc-mobilehide w-form" data-v-d86b29bc>
                                        <form data-v-d86b29bc>
                                            <div class="nav-search_flex" data-v-d86b29bc>
                                                <div class="search-field_wrapper cc-nav" data-v-d86b29bc><input
                                                        autocomplete="off" class="search-field cc-nav w-input"
                                                        enterkeyhint="search" kind="text" maxlength="140"
                                                        name="Search-9" type="text" data-v-d86b29bc>
                                                    <div class="c-recents" data-v-d86b29bc>
                                                        <div class="c-recents_top" data-v-d86b29bc>
                                                            <p class="recents-header" data-v-d86b29bc> Recent Searches
                                                            </p>
                                                            <div class="clear-btn cc-recents w-inline-block cursor-pointer"
                                                                data-v-d86b29bc>
                                                                <div data-v-d86b29bc>Clear all</div>
                                                            </div>
                                                        </div>
                                                        <p class="recents-list_item cc-empty" data-v-d86b29bc> No recent
                                                            searches :(</p>
                                                    </div><input class="c-button cc-nav w-button" type="submit"
                                                        value="Search" data-v-d86b29bc>
                                                </div>
                                            </div>
                                            <div class="c-button cc-nav-home w-button cursor-pointer" data-v-d86b29bc>
                                            </div>
                                        </form>
                                    </div><span data-v-d86b29bc></span>
                                    <div class="c-button cc-upload w-inline-block" data-v-d86b29bc>
                                        <div data-v-d86b29bc>Submit a photo</div>
                                    </div>
                                    <div class="c-hamburger cursor-pointer" data-v-d86b29bc>
                                        <div class="hamburger-line" data-v-d86b29bc></div>
                                        <div class="hamburger-line" data-v-d86b29bc></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
        </div>
    </div> -->
    <!-- <main>
        <nav class="main-menu">
     
   
  

        </nav>
  
        <section class="content"> -->
          <div class="left-content">
            <div class="slider-container">
              <h1>Popular Playlist</h1>
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img
                      src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/95b52c32-f5da-4fe6-956d-a5ed118bbdd2" />
                    <div class="slide-overlay">
                      <h2>Midnight Moods</h2>
                      <button>
                        Listen Now <i class="fa-solid fa-circle-play"></i>
                      </button>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/6ddf81f5-2689-4f34-bf80-a1e07f14621c" />
                    <div class="slide-overlay">
                      <h2>Party Starters</h2>
                      <button>
                        Listen Now <i class="fa-solid fa-circle-play"></i>
                      </button>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/ab52d9d0-308e-43e0-a577-dce35fedd2a3" />
                    <div class="slide-overlay">
                      <h2>Relaxing Tones</h2>
                      <button>
                        Listen Now <i class="fa-solid fa-circle-play"></i>
                      </button>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/20c8fdd5-9f4a-4917-ae90-0239a52e8334" />
                    <div class="slide-overlay">
                      <h2>Smooth Jazz Journey</h2>
                      <button>
                        Listen Now <i class="fa-solid fa-circle-play"></i>
                      </button>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/df461a99-2fb3-4d55-ac16-2e0c6dd783e1" />
                    <div class="slide-overlay">
                      <h2>Uplifting Rhythms</h2>
                      <button>
                        Listen Now <i class="fa-solid fa-circle-play"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
  
     
  

  
  
  
   
          <!-- </div>
        </section>
      </main> -->
    <!-- <div class="layers layerOne">
        <div class="inner_main">
            <div class="inner_content">
               

                 

            </div>

            <div class="inner_footer">
                <a href="#layerTwo">Next PAge</a>
            </div>
        </div>
        
    </div>

    <div class="layers layerTwo" id="layerTwo">
        Layertwo
    </div> -->
    <script src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js'></script>
    <script src="/js/slider.js"></script>
</body>
</html>