
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weperch | Make Experiences</title>
    <!-- <link rel="icon" type="image/png" href="favicon.png"> -->
    <!-- <link rel="apple-touch-icon" type="image/svg+xml" href="icon.svg"> -->

    <link rel="manifest" href="manifest.webmanifest">
    <meta property="og:url" content="retna.io">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Weperch | Go Live Shop Live Do More">
    <meta name="description" content="Weperch is an online community martketplace.">
    <meta property="og:description" content="Weperch is an online community martketplace.">
    <meta property="og:image" content="Weperch | Go Live Shop Live Do More">
    <meta name="twitter:title" content="Weperch | Go Live Shop Live Do More">
    <meta name="twitter:description" content="Weperch is an online community martketplace."> 
    <meta name="twitter:image"   content="Weperch | Go Live Shop Live Do More">
    <meta name="twitter:card" content="summary_large_image">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css'>
    <!-- <link rel="stylesheet" href="/css/general.css"> -->
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/slider.css">
</head>
<body > 
  <main class="body">
    <!-- start navbar  -->
    <div class="navbar bg-light">
      <div class="navbar-left">
        <div class="logoContainer">
          <img src="/assets/logo.png" alt="weperch_logo">
          <div class="logo_text">Weperch</div>
        </div>
      </div>

      <div class="navbar-right">
        <div class="buttonsContainer">
          <a href="#">Become a Seller</a>
          <button class="btn bg-dark">Login</button>
          <button class="btn bg-dark">Sign up</button>
        </div>
      </div>
      
    </div>
    <!-- navbarEnd  -->

    <div class="layers layerOne" id="layerOne">
        <div class="inner_main">

          <div class="inner_content_right">
            <div class="right_content_inner">
              <div class="header_text">
                Go Live. Shop Live. Do More.
              </div>
              <div class="sub_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            </div>
          </div>

          <!-- start left slider contaier  -->
            <div class="inner_content" >
<!-- start slide  -->
                  <div class="left-content">
                  <div class="slider-container" style="overflow: visible;">
                    <div class="swiper" style="overflow: visible;">
                      <div class="swiper-wrapper" style="overflow: visible;">
                                                <!-- One Side  -->
                                                <div class="swiper-slide">
                                                  <!-- video frams  -->
                        
                                                  <div class="video_frames">
                                                    <div class="box"></div>
                                                    <div class="box"></div>
                                                    <div class="box"></div>
                        
                                                  </div>
                                                  <!-- ENd video frames  -->
                        
                                                  <!-- Start main container  -->
                                                  <div class="slider_main_container">
                                                    <img src="/assets/AVATARZ - Tomas.png" alt="shoppig_cart" class="slider_main_image">
                                                  </div>
                                                  <!-- End slider mai container   -->
                        
                                                  <!-- Start slider footer  -->
                                                  <div class="slider_footer">
                        
                                                  </div>
                                                </div>
                                                <!-- End one slide   -->
                        <!-- One Side  -->
                        <div class="swiper-slide">

                          <!-- top content  -->
                          <div class="slide_top">
                            <div class="slide_top_nav">
                              <i class="fa fa-bars"></i>
                            </div>

                            <div class="slide_top_text">
                              <span>Live Events</span>
                              <span>.</span>
                              <span>auctions</span>
                            </div>
                          </div>
                          <!-- end top contet  -->

                          <!-- video frams  -->

                          <div class="video_frames">
                            <div class="box"></div>
                            <div class="box"></div>
                            <div class="box"></div>

                          </div>
                          <!-- ENd video frames  -->

                          <!-- Start main container  -->
                          <div class="slider_main_container">
                            <img src="/assets/shopping-basket-2903166.png" alt="shoppig_cart" class="slider_main_image">
                          </div>
                          <!-- End slider mai container   -->

                          <!-- Start slider footer  -->
                          <div class="slider_footer">

                          </div>
                        </div>
                        <!-- End one slide   -->
                        
                    <!-- One Side  -->
                    <div class="swiper-slide" style="background-color:beige; background-image: url('/assets/pattern.png'); background-size: contain;">

                      <!-- top content  -->
                      <div class="slide_top">
                        <div class="slide_top_nav">
                          <i class="fa fa-bars"></i>
                        </div>

                        <div class="slide_top_text">
                          <span>Live Events</span>
                          <span>.</span>
                          <span>auctions</span>
                        </div>
                      </div>
                      <!-- end top contet  -->

                      <!-- video frams  -->

                      <div class="video_frames">
                        <div class="box" style="border-radius: 100%; border: 2px solid goldenrod;"></div>
                        <div class="box" style="border-radius: 100%; border: 2px solid goldenrod;"></div>
                        <div class="box" style="border-radius: 100%; border: 2px solid goldenrod;"></div>

                      </div>
                      <!-- ENd video frames  -->

                      <!-- Start main container  -->
                      <div class="slider_main_container" style="background: url('/assets/pattern.png'); background-size: contain;">
                        <img src="/assets/3d-collection-with-hands-shaking-agreement1.png" alt="shoppig_cart" class="slider_main_image" style="transform: scale(0.2);">
                      </div>
                      <!-- End slider mai container   -->

                      <!-- Start slider footer  -->
                      <div class="slider_footer">

                      </div>
                    </div>
                    <!-- End one slide   -->

                  
                      </div>
                      <div class="swiper-pagination"></div>
                    </div>
                <!-- End Slider  -->

                  </div>
                 
<!-- End slider container  -->

               
            </div>


       
        
        
            </div> 
   
</div>
<div class="inner_footer" >
  <a href="#layerTwo" class="link-item">
    <button class="link bg-dark">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-xs " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
     
     <span>More</span>
    </button> 
  </a>
</div>
    </div>


    <!-- start layer two  -->
     <div class="layers layerTwo" id="layerTwo">
      <!-- start min inner  -->
        <div class="inner_main_two">
          
          <div class="video_container" style="display: block;">
            <video id="BG_Video" style="width: 100%; height: 100vh; object-fit: cover; display: block; position: absolute; z-index:-1; left: 0px;" preload="auto" autoplay playsinline loop muted>
              <source src="https://www.whatnot.com/assets/1330ba0f.mp4" type="video/mp4">
          </video>
          
          </div>

          <!-- STart Left Content  -->
          <div class="inner_content_right">
            <div class="right_content_inner">
              <div class="header_text">
                Go Live. Shop Live. Do More.
              </div>
              <div class="sub_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
              <div class="button_container">
                <button class="btn bg-light">
                  Join Us
                </button>
              </div>
         
            </div>
          </div>
          <!-- ENd Left cOntent  -->

        </div>
        <!-- End Main inner  -->
   
        <!-- start footer  -->
        <div class="inner_footer" >
          <a href="#layerOne" class="link-item">
          <button class="bg-light link rounded ">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-up" class="svg-inline--fa fa-angle-up fa-xs " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"></path></svg>
          </button>    
          </a>

          <a href="#layerThree" class="link-item">
            <button class="link bg-light">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-xs " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
             
             <span>More</span>
            </button>    
            </a>
        </div>
        <!-- End footer  -->
    </div>  
<!-- end layer two  -->

<!-- start layer 3 -->
<div class="layers layerthree" id="layerThree">
  <div class="inner_main">

      <!-- start footer  -->
      <div class="inner_footer" >
        <a href="#layerTwo" class="link-item">
        <button class="bg-dark link rounded ">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-up" class="svg-inline--fa fa-angle-up fa-xs " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"></path></svg>
        </button>    
        </a>

        <a href="#layerOne" class="link-item">
          <button class="link bg-dark">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-up" class="svg-inline--fa fa-angle-up fa-xs " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"></path></svg>
           
           <span>Back To Top</span>
          </button>    
          </a>
      </div>
      <!-- End footer  -->
  </div>

</div>
<!-- end layer 3  -->
  </main>

    <script src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js'></script>
    <script src="/js/slider.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="/js/welcome.js"></script>
</body>
</html>
